---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />

  <div class="max-w-[800px] w-full mx-auto mt-6">
    <h1 class="text-3xl font-bold mb-2">Download nightly builds</h1>
    <p class="text-white/80 mb-10">
      Currently, StayReal is not available on the stores so you have to download
      and update it manually.
    </p>

    <div class="flex flex-col items-center gap-4">
      <div class="p-6 border border-white rounded-[28px] w-full">
        <h2 class="text-lg font-bold">Android</h2>
        <p class="mb-6 text-white/80">
          All the APKs are signed and can be directly installed.
        </p>

        <div class="flex items-center gap-2">
          <select
            id="android-arch-selector"
            class="bg-black text-white outline-none rounded-full px-4 py-2 border border-white appearance-none"
          >
            <option selected>aarch64</option>
            <option>x86_64</option>
            <option>armv7</option>
            <option>i686</option>
          </select>
          <a
            href="https://nightly.link/Vexcited/StayReal/workflows/build/main/stayreal-android-aarch64-apk.zip"
            id="android-download-button"
            class="bg-white text-dark outline-none rounded-full px-4 py-2 border border-white"
            >Download</a
          >
        </div>
      </div>
      <div class="p-6 border border-white rounded-[28px] w-full">
        <h2 class="text-lg font-bold">iOS</h2>
        <p class="mb-6 text-white/80">
          IPA is signed but it require tools such as AltStore or E-Sign to
          install.
        </p>
        <a
          href="https://nightly.link/Vexcited/StayReal/workflows/build/main/stayreal-ios-aarch64-ipa.zip"
          class="bg-white text-dark outline-none rounded-full px-4 py-2 border border-white block w-fit"
        >
          Download (arm64)
        </a>
      </div>
      <div class="p-6 border border-white rounded-[28px] w-full">
        <h2 class="text-lg font-bold">Windows</h2>
        <p class="mb-6 text-white/80">Executables are not code-signed.</p>

        <div class="flex items-center gap-2">
          <select
            id="windows-arch-selector"
            class="bg-black text-white outline-none rounded-full px-4 py-2 border border-white appearance-none"
          >
            <option value="stayreal-x86_64-pc-windows-msvc-msi" selected
              >x86_64 (MSI)</option
            >
            <option value="stayreal-x86_64-pc-windows-msvc-nsis"
              >x86_64 (NSIS)</option
            >
            <option value="stayreal-aarch64-pc-windows-msvc-nsis"
              >aarch64 (NSIS)</option
            >
          </select>
          <a
            href="https://nightly.link/Vexcited/StayReal/workflows/nightly/main/stayreal-x86_64-pc-windows-msvc-msi.zip"
            id="windows-download-button"
            class="bg-white text-dark outline-none rounded-full px-4 py-2 border border-white"
            >Download</a
          >
        </div>
      </div>
      <div class="p-6 border border-white rounded-[28px] w-full">
        <h2 class="text-lg font-bold">macOS</h2>
        <p class="mb-6 text-white/80">
          Those are DMG files and are not code-signed, yet.
        </p>

        <div class="flex items-center gap-2">
          <a
            href="https://nightly.link/Vexcited/StayReal/workflows/nightly/main/stayreal-aarch64-apple-darwin-dmg.zip"
            id="macos-download-button"
            class="bg-white text-dark outline-none rounded-full px-4 py-2 border border-white"
            >Download (arm64)</a
          >
          <a
            href="https://nightly.link/Vexcited/StayReal/workflows/nightly/main/stayreal-x86_64-apple-darwin-dmg.zip"
            id="macos-download-button"
            class="text-white outline-none rounded-full px-4 py-2 border border-white"
            >Download (x86_64)</a
          >
        </div>
      </div>

      <p class="py-6 mb-8 text-center text-white/80">
        Looking for <strong class="font-bold">Linux</strong>? Please, <a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="https://github.com/Vexcited/StayReal/blob/main/README.md#-download"
          target="_blank">check out the README in the repository</a
        > to find exactly what you're looking for.
      </p>
    </div>
  </div>
</Layout>

<script>
  const androidArchSelector = document.getElementById(
    "android-arch-selector",
  ) as HTMLSelectElement;

  androidArchSelector.addEventListener("change", () => {
    const arch = androidArchSelector.value;
    const url = `https://nightly.link/Vexcited/StayReal/workflows/build/main/stayreal-android-${arch}-apk.zip`;

    document
      .getElementById("android-download-button")
      ?.setAttribute("href", url);
  });

  const windowsArchSelector = document.getElementById(
    "windows-arch-selector",
  ) as HTMLSelectElement;

  windowsArchSelector.addEventListener("change", () => {
    const provider = windowsArchSelector.value;
    const url = `https://nightly.link/Vexcited/StayReal/workflows/build/main/${provider}.zip`;

    document
      .getElementById("windows-download-button")
      ?.setAttribute("href", url);
  });
</script>
