---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />

  <div class="max-w-[800px] w-full mx-auto mt-6">
    <h1 class="font-bold text-3xl mb-2">Privacy Policy</h1>
    <p class="text-white/80 mb-10">
      At StayReal, we value your privacy and are committed to protecting your
      personal data. This Privacy Policy outlines how we collect, use, disclose,
      and safeguard your information when you use our services, including the
      StayReal application and website. Please read this policy carefully to
      understand our practices regarding your personal data.
    </p>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">1. Scope of This Privacy Policy</h2>
      <p>This Privacy Policy applies to the following services :</p>
      <ul class="list-inside list-disc my-4">
        <li>
          The StayReal application, available for mobile and desktop platforms ;
        </li>
        <li>
          The official StayReal website : <a
            class="hover:text-white/90 transition-colors underline underline-offset-2"
            href="/"
            target="_blank">https://stayreal.vexcited.com</a
          >.
        </li>
      </ul>

      <p>
        The source code for both services, hosted on GitHub : <a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="https://github.com/Vexcited/StayReal"
          target="_blank">https://github.com/Vexcited/StayReal</a
        >.
        <br /><br />
        These services may process certain personal data as outlined below.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">2. Data We Collect</h2>

      <h3 class="text-xl font-medium mb-2">2.1. Information Collected</h3>

      <h4 class="text-lg font-medium mb-2">2.1.1. StayReal Application</h4>
      <div class="mb-4">
        <p class="mb-2">
          <strong class="font-bold">Authentication Data</strong> : To enable seamless
          access to your BeReal account, the StayReal application stores two access
          tokens (<code class="font-monospace">refresh_token</code> and <code
            class="font-monospace">access_token</code
          >) and a device identifier (<code class="font-monospace"
            >device_id</code
          >). The device identifier is randomly generated using <a
            class="hover:text-white/90 transition-colors underline underline-offset-2"
            href="https://fr.wikipedia.org/wiki/Universally_unique_identifier#Version_4"
            target="_blank">UUID v4</a
          >. This data remains on your device and ensures continued
          authentication after restarting the app.
        </p>

        <p>
          <strong class="font-bold">BeReal Service Data</strong> : The application
          accesses and displays data from your BeReal account to ensure proper functionality.
          This data is retrieved directly from BeReal's services and is stored locally
          on your device. It is not shared, stored, or processed outside of your
          device.
        </p>
      </div>

      <h4 class="text-lg font-medium mb-2">2.1.2. StayReal Website</h4>

      <p>
        The StayReal website (<a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="/"
          target="_blank">https://stayreal.vexcited.com</a
        >) does not collect or process any personal information. Specifically:
      </p>

      <ul class="list-inside list-disc my-4">
        <li>No cookies are stored ;</li>
        <li>No user behavior tracking tools (e.g., analytics) are used ;</li>
        <li>No logs or records of visits are maintained.</li>
      </ul>

      <h3 class="text-xl font-medium mb-2">2.2. Data Sharing</h3>

      <p>
        We do not share, sell, or provide access to your personal data to any
        third parties, including automated tools or external software, under any
        circumstances.
      </p>

      <h3 class="text-xl font-medium mb-2">2.3. Data Deletion</h3>

      <p>
        Uninstalling the application or logging out will immediately and
        permanently delete all data stored on your device. StayReal does not
        retain any backups or copies of your data, ensuring you maintain full
        control over your personal information.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">3. How We Protect Your Data</h2>

      <h3 class="text-xl font-medium mb-2">3.1. Security Measures</h3>
      <p class="mb-2">
        StayReal is committed to safeguarding your personal data. We implement
        robust security measures to prevent unauthorized access, disclosure,
        modification, or destruction of your information. Our practices include:
      </p>

      <ul class="list-inside list-disc my-4">
        <li>Encryption of sensitive data where applicable ;</li>
        <li>Regular updates to address security vulnerabilities ;</li>
        <li>
          Adherence to industry standards for secure software development.
        </li>
      </ul>

      <h3 class="text-xl font-medium mb-2">
        3.2. Transparency Through Open Source
      </h3>

      <p class="mb-4">
        StayReal is an open-source project, and its source code is publicly
        available on GitHub (<a
          href="https://github.com/Vexcited/StayReal"
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          target="_blank">https://github.com/Vexcited/StayReal</a
        >). This approach allows the global developer community to review,
        audit, and contribute to the code, ensuring transparency and
        reliability.
        <br /><br />
        Community contributions help identify and resolve potential security issues
        promptly, ensuring the application meets and exceeds current security standards.
      </p>

      <h3 class="text-xl font-medium mb-2">3.3. API Data Access</h3>

      <p>
        StayReal accesses data solely through the official BeReal API, using the
        same methods as the BeReal application. We strictly adhere to the
        official API guidelines and do not use any unauthorized or alternative
        means to access BeReal's services.
        <br /><br />
        Our practices align with BeReal's privacy policies and respect the privacy
        rights of our users.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">4. Changes to This Privacy Policy</h2>

      <p>
        StayReal reserves the right to modify this Privacy Policy at any time.
        Any updates will be reflected on this page, along with the effective
        date. We are dedicated to upholding our promise to never collect user
        data or compromise your privacy. Changes to this policy will not alter
        this fundamental principle.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">5. Contact Information</h2>

      <p>
        If you have questions, concerns, or issues regarding this Privacy Policy
        or how StayReal handles your data, please contact us at <a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="mailto:vexitofficial@gmail.com">vexitofficial@gmail.com</a
        >
        <br /><br />
        We are committed to resolving your concerns promptly and transparently.
      </p>
    </section>
  </div>
</Layout>
