---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />

  <div class="max-w-[800px] w-full mx-auto mt-6">
    <h1 class="font-bold text-3xl mb-2">Support & FAQ</h1>
    <p class="text-white/80 mb-10">
      Have any issue with StayRea ? Check out the FAQ below or <a
        class="hover:text-white/90 transition-colors underline underline-offset-2"
        href="#contact">contact us</a
      > for support.
    </p>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">
        I haven't received the Verification Code
      </h2>
      <p>
        For security reasons, it’s impossible to create an account or log in to
        an existing one without entering the correct verification code. Don’t
        try guessing the code! Entering the wrong verification code several
        times could lead to you being temporarily locked out.
        <br /><br />
        Here are some steps to troubleshoot the issue:
      </p>
      <ul class="list-inside list-decimal my-4">
        <li>Ensure you're using the latest version of StayReal.</li>
        <li>
          Double-check that you’ve entered the correct phone number in
          international format (e.g. +1 for the US)
        </li>
        <li>
          Wait a few minutes! Sometimes, the code can take a little longer to
          send.
        </li>
        <li>Ensure you have a strong cellular signal.</li>
        <li>
          Verify there are no settings enabled on your device which may block
          incoming text messages.
        </li>
        <li>Restart your device, and try again.</li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-bold mb-2">
        I sent a Friend Request by mistake
      </h2>
      <p>
        Sent someone a request by mistake? It happens. You can cancel it by
        doing the following:
      </p>
      <ul class="list-inside list-decimal my-4">
        <li>Open StayReal, and tap the friend icon in the top left corner.</li>
        <li>Go to the “Requests” tab.</li>
        <li>Scroll down to see the list of sent requests.</li>
        <li>Tap the X icon beside the request you want to delete.</li>
      </ul>
    </section>

    <section class="mb-8" id="contact">
      <h2 class="text-2xl font-bold mb-2">How do I report a bug ?</h2>
      <p>
        If you encounter a bug or issue with StayReal, please report it to us by
        either sending a mail to <a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="mailto:contact@vexcited.com">contact@vexcited.com</a
        >
        or <a
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          href="https://github.com/Vexcited/StayReal/issues/new"
          target="_blank">opening an issue on the GitHub repository</a
        >.
        <br /><br />

        If your issue is related to community guidelines or privacy, please
        check <a
          href="https://help.bereal.com/"
          target="_blank"
          class="hover:text-white/90 transition-colors underline underline-offset-2"
          >BeReal's support page</a
        >.
      </p>
    </section>
  </div>
</Layout>
