<header
  class="max-w-[800px] w-full mx-auto flex items-center justify-between h-20"
>
  <a href="/" class="text-xl font-bold"> StayReal </a>
  <nav class="flex items-center gap-4">
    <a
      href="https://github.com/Vexcited/StayReal"
      target="_blank"
      class="hover:text-white/90 transition-colors"
    >
      GitHub
    </a>
    <a class="hover:text-white/90 transition-colors" href="/privacy-policy">
      Privacy Policy
    </a>
    <a
      href="/download"
      class="text-dark bg-white font-medium rounded-full px-5 py-2 ml-2 hover:bg-white/90 transition-colors"
    >
      Download
    </a>
  </nav>
</header>
